#wrap > header {
  width: 100%;
  position: relative;
}

#wrap > header > .lnb-bg {
  display: none;
  position: absolute;
  left: 0;
  top: 181px;
  width: 100%;
  height: 400px;
  background-color: #fff;
  z-index: 100;
}

#wrap > header > .lnb-bg > a {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  text-indent: -9999px;
  height: 400px;
}

#wrap > header > div.snb {
  height: 130px;
  border-bottom: 1px solid #e5e5e5;
}

#wrap > header > div.snb > ul {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

#wrap > header > div.snb > ul > li:nth-of-type(1) {
  position: absolute;
  left: 0;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 222px;
}

#wrap > header > div.snb > ul > li:nth-of-type(1) > span {
  display: block;
  width: 109px;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

#wrap > header > div.snb > ul > li:nth-of-type(1) > span a {
  display: block;
  height: 30px;
}

#wrap > header > div.snb > ul > li:nth-of-type(1) > span:nth-of-type(1) {
  background-image: url(./../images/ico_top03.png);
}

#wrap > header > div.snb > ul > li:nth-of-type(1) > span:nth-of-type(2) {
  background-image: url(./../images/ico_top04.png);
}

#wrap > header > div.snb > ul > li.main-logo {
  position: absolute;
  left: 50%;
  top: 30px;
  width: 190px;
  margin-left: -105px;
  background-image: url(./../images/logo_baby.png);
  background-size: cover;
}

#wrap > header > div.snb > ul > li.main-logo > a {
  display: block;
  height: 67px;
  text-indent: -9999px;
}

#wrap > header > div.snb > ul > li:nth-of-type(3) > ol {
  position: absolute;
  right: 0;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 246px;
}

#wrap > header > div.snb > ul > li:nth-of-type(3) > ol > li > a {
  display: inline-block;
  height: 20px;
  font-weight: 400;
  color: #737373;
}

#wrap > header > nav {
  position: absolute;
  left: 50%;
  top: 130px;
  margin-left: -500px;
  z-index: 100;
}

#wrap > header > nav > .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
}

#wrap > header > nav > .gnb > li {
  width: 25%;
}

#wrap > header > nav > .gnb > li > a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-image: url(./../images/ham.png), url(./../images/shopping.png);
  background-position: 30px 17px, 195px 10px;
  background-repeat: no-repeat;
}

#wrap > header > nav > .gnb > li:after {
  position: absolute;
  top: 15px;
  display: block;
  height: 20px;
  border-left: 1px solid #d1d1d1;
  content: "";
}

#wrap > header > nav > .gnb > li:nth-of-type(1):after, #wrap > header > nav > .gnb > li:nth-of-type(2):after {
  display: none;
}

#wrap > header > nav > .gnb > li:hover > a {
  color: #fc7a11;
}

#wrap > header > nav > .gnb > li:hover > ol.lnb {
  display: block;
}

#wrap > header > nav > .gnb > li > ol.lnb {
  display: none;
  margin-top: 25px;
}

#wrap > header > nav > .gnb > li > ol.lnb > li {
  width: 190px;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 500;
}

#wrap > header > nav > .gnb > li > ol.lnb > li:hover > a {
  color: #fc7a11;
  text-decoration: underline;
}

#wrap > header > nav > .gnb > li > ol.lnb > li a {
  display: block;
  height: 32px;
  color: #595959;
  line-height: 32px;
}

#wrap > header > nav > .gnb > li > ol.lnb > li.border-line {
  font-size: 18px;
  margin: 20px 30px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

#wrap > header > nav > .gnb > li > ol.lnb > li.border-line2 {
  margin-top: 50px;
}

#wrap > section > article > h2 {
  display: none;
}

#wrap > section > h1 {
  display: none;
}

#wrap > section > article.banner {
  position: absolute;
  top: 180px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}

#wrap > section > article.banner > div {
  position: relative;
  width: 100%;
  height: 485px;
  background-color: #e1dbdb;
}

#wrap > section > article.banner > div > .fade-container {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1920px;
  height: 100%;
  margin-left: -960px;
}

#wrap > section > article.banner > div > .fade-container > ul.fade-banner > li {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
}

#wrap > section > article.banner > div > .fade-container > ul.fade-banner > li:nth-of-type(1) {
  display: block;
}

#wrap > section > article.banner > div > .fade-container > ul.fade-banner > li > a {
  display: block;
  height: 100%;
}

#wrap > section > article.banner > div > .fade-container > ul.fade-banner > li > a > img {
  display: block;
}

#wrap > section > article.banner > div > ol.indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 82px;
  margin-left: -40px;
}

#wrap > section > article.banner > div > ol.indicator > li {
  width: 24px;
  text-indent: -9999px;
  background-image: url(./../images/btn_spot.png);
}

#wrap > section > article.banner > div > ol.indicator > li.on, #wrap > section > article.banner > div > ol.indicator > li:hover {
  background-position: 0 -25px;
}

#wrap > section > article.banner > div > ol.indicator > li > a {
  display: block;
  height: 24px;
}

#wrap > section > article.small-box {
  position: absolute;
  top: 666px;
  width: 100%;
  height: 112px;
  border-bottom: 1px solid #e5e5e5;
}

#wrap > section > article.small-box > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 860px;
  margin: 20px auto;
}

#wrap > section > article.small-box > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
}

#wrap > section > article.small-box > ul > li > a > span {
  display: block;
  width: 72px;
  height: 72px;
  margin-right: 10px;
  text-indent: -9999px;
}

#wrap > section > article.small-box > ul > li > a > span.small-icon_1 {
  background-image: url(./../images/icon_menu.png);
}

#wrap > section > article.small-box > ul > li > a > span.small-icon_2 {
  background-image: url(./../images/icon_search.png);
}

#wrap > section > article.small-box > ul > li > a > span.small-icon_3 {
  background-image: url(./../images/icon_check.png);
}

#wrap > section > article.small-box > ul > li > a > span.small-icon_4 {
  background-image: url(./../images/icon_notice.png);
}

#wrap > section > article.small-box > ul > li > a > span:hover {
  background-position: 0 -72px;
}

#wrap > section > article.small-box > ul > li > a > p {
  font-weight: 500;
  font-size: 17px;
}

#wrap > section > article.small-box > ul > li > a > p > .small-tit_2 {
  font-size: 16px;
}

#wrap > section > article.info-box {
  position: absolute;
  left: 50%;
  top: 778px;
  margin-left: -500px;
}

#wrap > section > article.info-box > ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 60px;
  width: 1000px;
}

#wrap > section > article.info-box > ol > li {
  width: 240px;
}

#wrap > section > article.info-box > ol > li > p {
  position: relative;
  color: #5e453c;
  padding-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

#wrap > section > article.info-box > ol > li:after {
  padding-right: 15px;
  position: absolute;
  top: 5px;
  display: block;
  height: 20px;
  border-left: 3px solid #5e453c;
  content: "";
}

#wrap > section > article.info-box > ol > li > a {
  display: block;
  width: 100%;
  height: 280px;
  margin-top: 10px;
  border-radius: 20px;
}

#wrap > section > article.info-box > ol > li > a > span {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  border-radius: 10px;
}

#wrap > section > article.info-box > ol > li > a > span.info_box_1 {
  background-image: url(./../images/event.jpg);
}

#wrap > section > article.info-box > ol > li > a > span.info_box_2 {
  background-image: url(./../images/free_img.jpg);
}

#wrap > section > article.info-box > ol > li > a > span.info_box_3 {
  background-image: url(./../images/deliver_img.jpg);
}

#wrap > section > article.info-box > ol > li.info_fade > ul {
  position: relative;
  margin-top: 10px;
  width: 240px;
  height: 280px;
  border-radius: 10px;
}

#wrap > section > article.info-box > ol > li.info_fade > ul > li {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 240px;
  text-indent: -9999px;
}

#wrap > section > article.info-box > ol > li.info_fade > ul > li:nth-of-type(1) {
  display: block;
  background-image: url(./../images/cslide_img01.jpg);
}

#wrap > section > article.info-box > ol > li.info_fade > ul > li:nth-of-type(2) {
  background-image: url(./../images/cslide_img02.jpg);
}

#wrap > section > article.info-box > ol > li.info_fade > ul > li > a {
  display: block;
  height: 280px;
}

#wrap > section > article.info-box > ol > li.info_fade div.info_indicator {
  position: absolute;
  top: 45px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34px;
}

#wrap > section > article.info-box > ol > li.info_fade div.info_indicator > a {
  display: block;
  width: 14px;
  height: 14px;
  text-indent: -9999px;
  background-image: url(./../images/cslide_btn_on.png);
  opacity: 0.5;
}

#wrap > section > article.info-box > ol > li.info_fade div.info_indicator > a.on {
  background-image: url(./../images/cslide_btn_on.png);
  opacity: 1;
}

#wrap > section > article.slide {
  position: absolute;
  top: 1258px;
  width: 100%;
  height: 500px;
}

#wrap > section > article.slide > div {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

#wrap > section > article.slide > div > h3 {
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  margin-bottom: 40px;
}

#wrap > section > article.slide > div > h3:before {
  position: absolute;
  left: 0;
  top: 18px;
  display: block;
  width: 410px;
  border-top: 2px solid #e5e5e5;
  content: "";
}

#wrap > section > article.slide > div > h3:after {
  position: absolute;
  top: 18px;
  right: 0px;
  display: block;
  width: 410px;
  border-top: 2px solid #e5e5e5;
  content: "";
}

#wrap > section > article.slide > div > div.slide-banner {
  overflow: hidden;
  position: relative;
  width: 950px;
  height: 158px;
  margin: 0 auto;
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 1140px;
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li {
  width: 190px;
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li.banner_1 {
  background-image: url(./../images/product_scroller_1.jpg);
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li.banner_2 {
  background-image: url(./../images/product_scroller_2.jpg);
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li.banner_3 {
  background-image: url(./../images/product_scroller_3.jpg);
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li.banner_4 {
  background-image: url(./../images/product_scroller_4.jpg);
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li.banner_5 {
  background-image: url(./../images/product_scroller_5.jpg);
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li.banner_6 {
  background-image: url(./../images/product_scroller_10.jpg);
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li:hover {
  background-position: 0 -158px;
}

#wrap > section > article.slide > div > div.slide-banner > ol.slide-container > li > a {
  display: block;
  height: 158px;
  text-indent: -9999px;
}

#wrap > section > article.slide > div > a {
  position: absolute;
  top: 135px;
  display: block;
  width: 15px;
  height: 35px;
  text-indent: -9999px;
}

#wrap > section > article.slide > div > a.prev {
  left: 0;
  background-image: url(./../images/product_scroller_left_arrow.png);
}

#wrap > section > article.slide > div > a.next {
  right: 0;
  background-image: url(./../images/product_scroller_right_arrow.png);
}

#wrap > section > article.big-banner {
  position: absolute;
  top: 1540px;
  width: 100%;
  height: 780px;
  background-color: #583924;
  border-bottom: 1px solid #efefef;
}

#wrap > section > article.big-banner > div.bid-container {
  position: relative;
  left: 50%;
  width: 1920px;
  height: 100%;
  margin-left: -960px;
  background-image: url(./../images/qslide_bg_img01.jpg);
}

#wrap > section > article.big-banner > div.bid-container > div {
  position: absolute;
  top: 0;
  left: 50%;
  width: 392px;
  height: 190px;
}

#wrap > section > article.big-banner > div.bid-container > div:nth-of-type(1) {
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -196px;
}

#wrap > section > article.big-banner > div.bid-container > div:nth-of-type(1) > p {
  color: #995d3b;
  font-weight: 600;
  text-align: center;
}

#wrap > section > article.big-banner > div.bid-container > div:nth-of-type(1) > p:nth-child(1) {
  height: 58px;
  font-size: 28px;
  text-indent: 40px;
  background-image: url(./../images/qslide_01_img.png);
  background-repeat: no-repeat;
  background-position: 40px 0;
}

#wrap > section > article.big-banner > div.bid-container > div:nth-of-type(1) > p:nth-child(2) {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 30px;
}

#wrap > section > article.big-banner > div.bid-container > div:nth-of-type(1) > p:nth-child(3) {
  display: inline-block;
  margin-left: 98px;
  font-size: 15px;
  border: 1px solid #995d3b;
}

#wrap > section > article.big-banner > div.bid-container > div:nth-of-type(1) > p:nth-child(3) > a {
  color: #995d3b;
  display: block;
  padding: 10px 50px;
}

#wrap > section > article.big-banner > div.bid-container > div.video-container {
  position: absolute;
  top: 604px;
  left: 50%;
  width: 228px;
  height: 152px;
  margin-left: 270px;
  background-image: url(./../images/tv.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 228px 152px;
}

#wrap > section > article.big-banner > div.bid-container > div.video-container > div {
  position: absolute;
  top: 36px;
  left: 21px;
}

#wrap > section > article.big-banner > div.bid-container > div.video-container > button {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #b0b0b0;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}

#wrap > section > article.notice {
  position: absolute;
  top: 2321px;
  width: 100%;
  height: 258px;
  background-color: #939393;
}

#wrap > section > article.notice > ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
}

#wrap > section > article.notice > ol > li:nth-of-type(1) {
  width: 26%;
}

#wrap > section > article.notice > ol > li:nth-of-type(1) > h3 {
  margin: 40px 0 20px;
  font-weight: 300;
  font-size: 20px;
}

#wrap > section > article.notice > ol > li:nth-of-type(1) > span {
  display: block;
  position: absolute;
  top: 40px;
  left: 215px;
  width: 50px;
}

#wrap > section > article.notice > ol > li:nth-of-type(1) > span > a {
  display: block;
  height: 15px;
  color: #fff;
  font-weight: 200;
  line-height: 15px;
}

#wrap > section > article.notice > ol > li:nth-of-type(1) > p {
  margin-bottom: 15px;
  font-weight: 200;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#wrap > section > article.notice > ol > li:nth-of-type(2) {
  width: 50%;
}

#wrap > section > article.notice > ol > li:nth-of-type(2) > ul {
  position: absolute;
  left: 50%;
  top: 25%;
  margin-left: -185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

#wrap > section > article.notice > ol > li:nth-of-type(2) > ul > li {
  width: 90px;
  text-align: center;
}

#wrap > section > article.notice > ol > li:nth-of-type(2) > ul > li > a {
  display: block;
}

#wrap > section > article.notice > ol > li:nth-of-type(2) > ul > li > a > span {
  display: block;
  width: 90px;
  height: 90px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #838383;
  border-radius: 50%;
}

#wrap > section > article.notice > ol > li:nth-of-type(2) > ul > li > a > span.icon_img_1 {
  background-image: url(./../images/ico_fguide_faq.png);
}

#wrap > section > article.notice > ol > li:nth-of-type(2) > ul > li > a > span.icon_img_2 {
  background-image: url(./../images/ico_fguide_mantoman.png);
}

#wrap > section > article.notice > ol > li:nth-of-type(2) > ul > li > a > span.icon_img_3 {
  background-image: url(./../images/ico_fguide_sdelivery.png);
}

#wrap > section > article.notice > ol > li:nth-of-type(2) > ul > li > a > h3 {
  margin-top: 15px;
  color: #fff;
  font-weight: 200;
  font-size: 15px;
}

#wrap > section > article.notice > ol > li:nth-of-type(3) > h3 {
  margin-top: 30px;
  font-weight: 300;
  font-size: 20px;
}

#wrap > section > article.notice > ol > li:nth-of-type(3) > span {
  display: block;
  height: 80px;
  color: #000;
  line-height: 80px;
  text-indent: 50px;
  letter-spacing: 2px;
  background-image: url(./../images/ico_cc_tel.png);
  background-position: 0 center;
  background-repeat: no-repeat;
  font-size: 30px;
}

#wrap > section > article.notice > ol > li:nth-of-type(3) > p {
  font-weight: 200;
  line-height: 2;
}

#wrap > footer {
  position: absolute;
  top: 2579px;
  width: 100%;
  height: 258px;
}

#wrap > footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

#wrap > footer > div > div.logo {
  margin-top: 70px;
  width: 18%;
}

#wrap > footer > div > ul {
  width: 60%;
}

#wrap > footer > div > ul > li {
  color: #909090;
}

#wrap > footer > div > ul > li > ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
}

#wrap > footer > div > ul > li > ol > li {
  padding-right: 40px;
}

#wrap > footer > div > ul > li > ol > li:after {
  display: block;
  position: absolute;
  top: 5px;
  height: 12px;
  margin: 55px 0 0 -20px;
  border-right: 1px solid #e3e3e3;
  content: '';
}

#wrap > footer > div > ul > li > ol > li:nth-of-type(1):after {
  display: none;
}

#wrap > footer > div > ul > li > ol > li > a {
  display: block;
  color: #909090;
}

#wrap > footer > div > ul > li > ol > li:nth-of-type(5) > a {
  color: #666;
  font-weight: 500;
}

#wrap > footer > div > ul > li:nth-of-type(2) > p {
  margin: 15px 0 5px;
  color: #999;
  font-weight: 600;
}

#wrap > footer > div > ul > li:nth-of-type(2) > address {
  line-height: 1.6;
}

#wrap > footer > div > ul > li:nth-of-type(2) > address > span {
  margin-left: 5px;
  display: inline-block;
}

#wrap > footer > div > ul > li:nth-of-type(3) > address {
  margin-top: 3px;
}

#wrap > footer > div > div.select {
  position: absolute;
  left: 50%;
  top: 55px;
  margin-left: 316px;
}

#wrap > footer > div > div.select > form > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 185px;
  height: 35px;
  padding: 0 20px;
  border: 1px solid #939393;
  background-image: url(./../images/ico_familysite.png);
  background-repeat: no-repeat;
  background-position: 155px center;
}

#wrap > footer > div > div.select > form > select::-ms-expand {
  display: none;
}

#wrap > footer > div > div.select > span {
  display: block;
  width: 187px;
  height: 49px;
  margin-top: 10px;
  text-indent: -9999px;
  background-image: url(./../images/ico_footer_certify.png);
}
/*# sourceMappingURL=style.css.map */